In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv("travel insurance.csv")
df.head()

,Agency,Agency Type,Distribution Channel,Product Name,Claim,Duration,Destination,Net Sales,Commision (in value),Gender,Age
0,CBH,Travel Agency,Offline,Comprehensive Plan,No,186,MALAYSIA,-29.0,9.57,F,81
1,CBH,Travel Agency,Offline,Comprehensive Plan,No,186,MALAYSIA,-29.0,9.57,F,71
2,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,65,AUSTRALIA,-49.5,29.70,NaN,32
3,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,60,AUSTRALIA,-39.6,23.76,NaN,32
4,CWT,Travel Agency,Online,Rental Vehicle Excess Insurance,No,79,ITALY,-19.8,11.88,NaN,41

In [9]:
df=df[["Duration",'Net Sales' , 'Age','Claim']]
df.head()

   Duration  Net Sales  Age Claim
0       186      -29.0   81    No
1       186      -29.0   71    No
2        65      -49.5   32    No
3        60      -39.6   32    No
4        79      -19.8   41    No

In [12]:
df.Claim.replace({"No":0,"Yes":1},inplace=True)
df.isnull().sum()

Duration     0
Net Sales    0
Age          0
Claim        0
dtype: int64

In [16]:
df.Claim.head()

0    0
1    0
2    0
3    0
4    0
Name: Claim, dtype: int64

In [13]:
df.isnull().sum()

Duration     0
Net Sales    0
Age          0
Claim        0
dtype: int64

In [14]:
from sklearn.ensemble import BaggingClassifier
from sklearn.neighbors import KNeighborsClassifier

In [15]:
using_knn=model = BaggingClassifier(KNeighborsClassifier(n_neighbors=7),n_estimators=5)

In [17]:
using_knn.fit(df.iloc[:,:3],df.iloc[:,-1])

BaggingClassifier(base_estimator=KNeighborsClassifier(n_neighbors=7),
                  n_estimators=5)

In [18]:
using_knn.score(df.iloc[:,:3],df.iloc[:,-1])

0.9854088368126835