In [2]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer

# Documantation Of SimpleImputer

SimpleImputer(
    *,
    missing_values=nan,
    strategy='mean',
    fill_value=None,
    verbose=0,
    copy=True,
    add_indicator=False,
)
Docstring:     
Imputation transformer for completing missing values.

Read more in the :ref:`User Guide <impute>`.

.. versionadded:: 0.20
   `SimpleImputer` replaces the previous `sklearn.preprocessing.Imputer`
   estimator which is now removed.

Parameters
----------
missing_values : number, string, np.nan (default) or None
    The placeholder for the missing values. All occurrences of
    `missing_values` will be imputed. For pandas' dataframes with
    nullable integer dtypes with missing values, `missing_values`
    should be set to `np.nan`, since `pd.NA` will be converted to `np.nan`.

strategy : string, default='mean'
    The imputation strategy.

    - If "mean", then replace missing values using the mean along
      each column. Can only be used with numeric data.
    - If "median", then replace missing values using the median along
      each column. Can only be used with numeric data.
    - If "most_frequent", then replace missing using the most frequent
      value along each column. Can be used with strings or numeric data.
    - If "constant", then replace missing values with fill_value. Can be
      used with strings or numeric data.

    .. versionadded:: 0.20
       strategy="constant" for fixed value imputation.

fill_value : string or numerical value, default=None
    When strategy == "constant", fill_value is used to replace all
    occurrences of missing_values.
    If left to the default, fill_value will be 0 when imputing numerical
    data and "missing_value" for strings or object data types.

verbose : integer, default=0
    Controls the verbosity of the imputer.

copy : boolean, default=True
    If True, a copy of X will be created. If False, imputation will
    be done in-place whenever possible. Note that, in the following cases,
    a new copy will always be made, even if `copy=False`:

    - If X is not an array of floating values;
    - If X is encoded as a CSR matrix;
    - If add_indicator=True.

add_indicator : boolean, default=False
    If True, a :class:`MissingIndicator` transform will stack onto output
    of the imputer's transform. This allows a predictive estimator
    to account for missingness despite imputation. If a feature has no
    missing values at fit/train time, the feature won't appear on
    the missing indicator even if there are missing values at
    transform/test time.

Attributes
----------
statistics_ : array of shape (n_features,)
    The imputation fill value for each feature.
    Computing statistics can result in `np.nan` values.
    During :meth:`transform`, features corresponding to `np.nan`
    statistics will be discarded.

indicator_ : :class:`sklearn.impute.MissingIndicator`
    Indicator used to add binary indicators for missing values.
    ``None`` if add_indicator is False

# Example 1

In [6]:
import numpy as np
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
imp_mean.fit([[7, 2, 3], [4, np.nan, 6], [10, 5, 9]])
X = [[np.nan, 2, 3], [4, np.nan, 6], [10, np.nan, 9]]
print("X:-\n")
for i in range(len(X)):
    print(X[i])
print("\nAfter filling nan values :-\n",imp_mean.transform(X))

X:-

[nan, 2, 3]
[4, nan, 6]
[10, nan, 9]

After filling nan values :-
 [[ 7.   2.   3. ]
 [ 4.   3.5  6. ]
 [10.   3.5  9. ]]

# Example 2

In [7]:
smplimputr = SimpleImputer(strategy="most_frequent")
array = np.array([[1,2,3,5],[5,2,np.nan,4],[8,5,np.nan,7],[5,4,np.nan,np.nan]])
print(array)
smplimputr.fit(array)
smplimputr.transform(array)

[[ 1.  2.  3.  5.]
 [ 5.  2. nan  4.]
 [ 8.  5. nan  7.]
 [ 5.  4. nan nan]]

array([[1., 2., 3., 5.],
       [5., 2., 3., 4.],
       [8., 5., 3., 7.],
       [5., 4., 3., 4.]])

# Example 3

In [8]:
smplimputr = SimpleImputer(strategy="constant",fill_value=19)
array = np.array([[1,2,3,5],[5,2,np.nan,4],[8,5,np.nan,7],[5,4,np.nan,np.nan]])
print(array)
smplimputr.fit(array)
smplimputr.transform(array)

[[ 1.  2.  3.  5.]
 [ 5.  2. nan  4.]
 [ 8.  5. nan  7.]
 [ 5.  4. nan nan]]

array([[ 1.,  2.,  3.,  5.],
       [ 5.,  2., 19.,  4.],
       [ 8.,  5., 19.,  7.],
       [ 5.,  4., 19., 19.]])

# Example 4

In [9]:
smplimputr = SimpleImputer(strategy="median")
array = np.array([[1,2,3,5],[5,2,np.nan,4],[8,5,7,7],[5,4,9,np.nan]])
print(array)
smplimputr.fit(array)
smplimputr.transform(array)

[[ 1.  2.  3.  5.]
 [ 5.  2. nan  4.]
 [ 8.  5.  7.  7.]
 [ 5.  4.  9. nan]]

array([[1., 2., 3., 5.],
       [5., 2., 7., 4.],
       [8., 5., 7., 7.],
       [5., 4., 9., 5.]])

# Now we'll fill values into DataFrame

In [17]:
df = pd.read_csv("FillValues.csv")
df.head(7)

     Year  Exp
0  2000.0  3.0
1  2050.0  5.0
2  2030.0  1.0
3  2010.0  2.0
4     NaN  NaN
5  2020.0  NaN

In [24]:
# Filling Year column value
fill = SimpleImputer(strategy='mean')
fill.fit(np.array(df['Year']).reshape(-1,1))
df.Year = fill.transform(np.array(df['Year']).reshape(-1,1))

In [28]:
#To get the mean value
fill.fit(np.array(df['Year']).reshape(-1,1)).statistics_

array([2022.])

In [25]:
df.Year

0    2000.0
1    2050.0
2    2030.0
3    2010.0
4    2022.0
5    2020.0
Name: Year, dtype: float64

In [18]:
sum([2000,2050,2010,2020,2030])/len([2000,2050,2030,2010,2020])

2022.0

In [20]:
df.Exp

0    3.0
1    5.0
2    1.0
3    2.0
4    NaN
5    NaN
Name: Exp, dtype: float64

In [22]:
# Filling Exp column value
fill = SimpleImputer(strategy='mean')
fill.fit(np.array(df['Exp']).reshape(-1,1))
df.Exp = fill.transform(np.array(df['Exp']).reshape(-1,1))

In [29]:
#To get the mean value of df.Exp
fill.fit(np.array(df['Exp']).reshape(-1,1)).statistics_

array([2.75])

In [23]:
df.Exp

0    3.00
1    5.00
2    1.00
3    2.00
4    2.75
5    2.75
Name: Exp, dtype: float64

## How we hv filled none values

In [26]:
df.head(10)

     Year   Exp
0  2000.0  3.00
1  2050.0  5.00
2  2030.0  1.00
3  2010.0  2.00
4  2022.0  2.75
5  2020.0  2.75