In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("MLR.csv")
df.head()

   BHK  Srft  Price
0    2   600     20
1    2   550     17
2    2   475     15
3    2   800     19
4    3  1200     25

In [4]:
df.shape

(12, 3)

In [5]:
X = df.iloc[:,0:2]
Y = df.iloc[:,2]

In [6]:
X

    BHK  Srft
0     2   600
1     2   550
2     2   475
3     2   800
4     3  1200
5     5  1200
6     2   400
7     3   750
8     2   650
9     2   300
10    3   850
11    1   200

In [7]:
Y

0     20
1     17
2     15
3     19
4     25
5     27
6     13
7     26
8     24
9     30
10    32
11    11
Name: Price, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train , x_test , y_train , y_test = train_test_split(X, Y,test_size=0.2,random_state = 1)

In [10]:
x_train.shape , x_test.shape , y_train.shape , y_test.shape

((9, 2), (3, 2), (9,), (3,))

In [11]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [12]:
model.fit(x_train , y_train)

LinearRegression()

In [13]:
y_pred = model.predict(x_test)
y_pred

array([20.40923913, 21.87173913, 26.37282609])

In [14]:
y_test

2    15
3    19
4    25
Name: Price, dtype: int64

In [15]:
model.coef_

array([2.70108696, 0.0045    ])

In [16]:
model.intercept_

12.869565217391301

In [18]:
#let 2 bhk  600 sqft 
result = 2.70108696*2+ 0.0045*600 + 12.869565217391301
result

20.971739137391303

In [29]:
print("BhK\tSqft\ty_actu\ty_pred")

for (a,b,c,d) in zip(df.BHK , df.Srft , y_test,y_pred):
    print(a,'\t',b,'\t',c,'\t',round(d,0))

BhK	Sqft	y_actu	y_pred
2 	 600 	 15 	 20.0
2 	 550 	 19 	 22.0
2 	 475 	 25 	 26.0